<div class="container text-center mt-3">
    <h1>Dados dos usuários - Simulação</h1>
    <hr>
    <h1>Bem-vindo, {{userData.name}}</h1>
    <p>Email: {{userData.email}}</p>
    <p>Nome de Usuário: {{userData.username}}</p>
    <p>Função: {{userData.role}}</p>
    <p>Último Login: {{userData.lastLogin}}</p>
</div>